{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

<div id="k-body"><!-- content wrapper -->

    <div class="container"><!-- container -->

        <div class="row"><!-- row -->

            <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->

                <div style="cursor:auto;" class="search-icon text-center"><i class="fa fa-users fa-lg" aria-hidden="true"></i></div><!-- toggle search button -->

            </div><!-- top search end -->

            <div class="k-breadcrumbs col-lg-12 clearfix "><!-- breadcrumbs -->

                <ol class="breadcrumb transform">
                    <li><a href="{% url "courses" %}">Bütün Dersler</a></li>
                    <li class="active">Ders Bilgileri</li>
                </ol>

            </div><!-- breadcrumbs end -->

        </div><!-- row end -->

        <div class="row gutter"><!-- row -->

            <div class="col-lg-12 col-md-12">

                <div class="row">
                  <div class="col-xs-4" style="padding:10px">
                      <p> <img src='/static/img/coursePhoto.png' class='img-responsive'/> </p>
                      <p class="transform" style="font-size:13px"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          <a href="edit/">Düzenle</a>
                      </p>
                  </div>
                  <div class="col-xs-8 transform">
                      <p> <b>Kod</b> {{ course.code }} </p>
                      <p> <b>Ad</b> {{ course.name }} </p>
                      <p> <b>Öğretmen</b> {{ course.teacher }} </p>
                      <p> <b>Sınıf</b> {{ course.classroom }} </p>
                      <p> <b>Seviye</b> {{ course.lisarLevel }} </p>
                      <p> <b>Başlangıç</b> {{ course.start }} </p>
                      <p> <b>Bitiş</b> {{ course.end }} </p>
                  </div>

                </div>
              </div>
          </div>
      </div>
    </div>
</div>

{% endblock %}
