{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="row no-gutter"><!-- row -->

    <div class="col-lg-12 col-md-12"><!-- upcoming events wrapper -->

        <div class="col-padded col-shaded"><!-- inner custom column -->

            <ul class="list-unstyled clear-margins"><!-- widgets -->

                <li class="widget-container widget_up_events"><!-- widgets list -->

                    <h1 class="title-widget">{{ title }} Kaydı</h1>

                    <ul class="list-unstyled">

                        <li class="up-event-wrap">

                          <form action="#" method="post">
                              {% csrf_token %}
                              {{ form.as_ul }}
                              <input type="submit" value="Kaydet" />
                          </form>

                        </li>

                    </ul>

                </li><!-- widgets list end -->

            </ul><!-- widgets end -->

        </div><!-- inner custom column end -->

    </div><!-- upcoming events wrapper end -->
</div>
{% endblock %}
