{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block body %}

<div id="k-body"><!-- content wrapper -->

    <div class="container"><!-- container -->

        <div class="row"><!-- row -->

            <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->

                <div style="cursor:auto;" class="search-icon text-center"><i class="fa fa-plus" aria-hidden="true"></i></div><!-- toggle search button -->

            </div><!-- top search end -->

            <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->

                <ol class="breadcrumb transform">
                    <li><a href="{% url "home"%}">Anasayfa</a></li>
                    <li class="active">{{ title }}</li>
                </ol>

            </div><!-- breadcrumbs end -->

        </div><!-- row end -->

        <div class="row gutter col-padded"><!-- row -->

            <div class="col-lg-12 col-md-12">

                <form class="transform" action="#" method="post" style="text-transform:none;" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <input type="submit" value="Bitir" />
                </form>
            </div><!-- doc body wrapper end -->

        </div><!-- row end -->

    </div>

</div>

{% endblock %}
