{% extends "base.html" %}
{% load staticfiles %}

{% block body %}


<div id="k-body"><!-- content wrapper -->

    <div class="container"><!-- container -->

        <div class="row"><!-- row -->

            <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->

                <form action="#" id="top-searchform" method="get" role="search">
                    <div class="input-group">
                        <input type="text" name="s" id="sitesearch" class="form-control" autocomplete="off" placeholder="Type in keyword(s) then hit Enter on keyboard" />
                    </div>
                </form>

                <div id="bt-toggle-search" class="search-icon text-center"><i class="s-open fa fa-search"></i><i class="s-close fa fa-times"></i></div><!-- toggle search button -->

            </div><!-- top search end -->

            <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->

                <ol class="breadcrumb">
                    <li><a href="{% url "home"%}">Anasayfa</a></li>
                    <li class="active">Bütün Öğrenciler</li>
                </ol>

            </div><!-- breadcrumbs end -->

        </div><!-- row end -->

        {% for student in students %}

        <div class="row">
            <div class="col-xs-1">
                <p> {{ student.pk }}. </p>
            </div>
            <div class="col-xs-11">
                <p> <a href="{% url "studentDetails" pk=student.pk %}">
                    {{ student.firstName }} {{ student.lastName }} </a>
                </p>
            </div>
        </div>


        {% endfor %}

    </div>

</div>

{% endblock %}
