{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

<div id="k-body"><!-- content wrapper -->

    <div class="container"><!-- container -->

        <div class="row"><!-- row -->

            <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->

                <div style="cursor:auto;" class="search-icon text-center"><i class="fa fa-pencil  fa-lg" aria-hidden="true"></i></div><!-- toggle search button -->

            </div><!-- top search end -->

            <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->

                <ol class="breadcrumb transform">
                    <li><a href="{% url "students" %}">Bütün Öğrenciler</a></li>
                    <li class="active">Öğrenci Bilgileri</li>
                </ol>

            </div><!-- breadcrumbs end -->

        </div><!-- row end -->

        <div class="row gutter col-padded"><!-- row -->

            <div class="col-lg-12 col-md-12">

                <div class="row">
                <div class="col-xs-4" style="padding:10px">
                    {% if student.profilePhoto %}
                    <p> <img src='/static/{{student.profilePhoto}}' class='img-responsive'/> </p>
                    {% else %}
                    <p> <img src='/static/img/profilePhoto.png' class='img-responsive'/> </p>
                    {% endif %}

                    <p class="transform" style="font-size:13px"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <a href="edit/">Profil Düzenle</a>
                    </p>
                    <p class="transform" style="font-size:13px"> <i class="fa fa-external-link" aria-hidden="true"></i>
                        <a href="{% url "studentAttendance" pk=student.pk %}">Yoklama Bilgileri</a>
                    </p>
                    <p class="transform" style="font-size:13px"> <i class="fa fa-money" aria-hidden="true"></i>
                        <a href="#">Kitap Ödemeleri</a>
                    </p>

                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-7 transform" style="padding:7px">
                  <p> <b>İsim: </b> {{ student.firstName }} </p>
                  <p> <b>Soyisim: </b> {{ student.lastName }} </p>
                  <p> <b>Telefon Numarası: </b> {{ student.phoneNumber }} </p>
                  <p> <b>Doğum Tarihi: </b> {{ student.dateOfBirth }} </p>
                  <p> <b>Email Adresi: </b> {{ student.mailAddress }} </p>
                  <p> <b>Adres: </b> {{ student.adress }} </p>
                  <p> <b>Kaldığı Yer: </b> {{ student.residence }} </p>
                  <p> <b>TEOG Skoru: </b> {{ student.TEOGScore }} </p>
                  <p> <b>Lise: </b> {{ student.highSchool }} </p>
                  <p> <b>Sınıf: </b> {{ student.schoolLevel }} </p>
                  <p> <b>Lisar Kademesi: </b> {{ student.lisarLevel }} </p>
                  <p> <b>Başvuru Nedeni: </b> {{ student.admissionCause }} </p>
                  <p> <b>Referanslar: </b> {{ student.reference }} </p>

                </div>
                </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
