{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

<div id="k-body"><!-- content wrapper -->

    <div class="container"><!-- container -->

        <div class="row"><!-- row -->

            <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->

                <form action="#" id="top-searchform" method="get" role="search">
                    <div class="input-group">
                        <input type="text" name="s" id="sitesearch" class="form-control" autocomplete="off" placeholder="Type in keyword(s) then hit Enter on keyboard" />
                    </div>
                </form>

                <div id="bt-toggle-search" class="search-icon text-center"><i class="s-open fa fa-search"></i><i class="s-close fa fa-times"></i></div><!-- toggle search button -->

            </div><!-- top search end -->

            <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->

                <ol class="breadcrumb">
                    <li><a href="{% url "students" %}">Bütün Öğrenciler</a></li>
                    <li class="active">Öğrenci Bilgileri</li>
                </ol>

            </div><!-- breadcrumbs end -->

        </div><!-- row end -->

        <div class="row no-gutter"><!-- row -->

            <div class="col-lg-8 col-md-8"><!-- doc body wrapper -->

                <div class="row">
                <div class="col-xs-4">
                    {% if student.profilePhoto %}
                    <p> <img src='/static/{{student.profilePhoto}}' class='img-responsive'/> </p>
                    {% else %}
                    <p> <img src='/static/img/profilePhoto.png' class='img-responsive'/> </p>
                    {% endif %}
                    <p> <i class="fa fa-external-link" aria-hidden="true"></i>
                        <a href="{% url "studentAttendance" pk=student.pk %}">Yoklama Bigileri</a>
                    </p>

                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-7">
                    <p> <b>İsim</b> {{ student.firstName }} </p>
                    <p> <b>Soyisim</b> {{ student.lastName }} </p>
                    <p> <b>Telefon Numarası</b> {{ student.phoneNumber }} </p>
                    <p> <b>Doğum Tarihi</b> {{ student.dateOfBirth }} </p>
                    <p> <b>Email Adresi</b> {{ student.mailAddress }} </p>
                    <p> <b>Adres</b> {{ student.adress }} </p>
                    <p> <b>Kaldığı Yer</b> {{ student.residence }} </p>
                    <p> <b>TEOG Skoru</b> {{ student.TEOGScore }} </p>
                    <p> <b>Lise</b> {{ student.highSchool }} </p>
                    <p> <b>Sınıf</b> {{ student.schoolLevel }} </p>
                    <p> <b>Lisar Kademesi</b> {{ student.lisarLevel }} </p>
                    <p> <b>Başvuru Nedeni</b> {{ student.admissionCause }} </p>
                    <p> <b>Referanslar</b> {{ student.reference }} </p>

                </div>
                </div>

            </div><!-- doc body wrapper end -->

            <div id="k-sidebar" class="col-lg-4 col-md-4"><!-- sidebar wrapper -->

                <div class="col-padded col-shaded"><!-- inner custom column -->

                    <ul class="list-unstyled clear-margins"><!-- widgets -->

                        <li class="widget-container widget_course_search"><!-- widget -->

                            <h1 class="title-titan">Course Finder</h1>

                            <form role="search" method="get" id="course-finder" action="#">
                                <div class="input-group">
                                    <input type="text" placeholder="Find a course..." autocomplete="off" class="form-control" id="find-course" name="find-course" />
                                    <span class="input-group-btn"><button type="submit" class="btn btn-default">GO!</button></span>
                                </div>
                                <span class="help-block">* Enter course ID, title or the course instructor name</span>
                            </form>

                        </li><!-- widget end -->

                        <li class="widget-container widget_up_events"><!-- widgets list -->

                            <h1 class="title-widget">Upcoming Events</h1>

                            <ul class="list-unstyled">

                                <li class="up-event-wrap">

                                    <h1 class="title-median"><a href="#" title="Annual alumni game">Annual alumni game</a></h1>

                                    <div class="up-event-meta clearfix">
                                        <div class="up-event-date">Jul 25, 2015</div><div class="up-event-time">9:00 - 11:00</div>
                                    </div>

                                    <p>
                                    Fusce condimentum pulvinar mattis. Nunc condimentum sapien sit amet odio vulputate, nec suscipit orci pharetra... <a href="#" class="moretag" title="read more">MORE</a>
                                    </p>

                                </li>

                                <li class="up-event-wrap">

                                    <h1 class="title-median"><a href="#" title="School talents gathering">School talents gathering</a></h1>

                                    <div class="up-event-meta clearfix">
                                        <div class="up-event-date">Aug 25, 2015</div><div class="up-event-time">8:30 - 10:30</div>
                                    </div>

                                    <p>
                                    Pellentesque lobortis, arcu eget condimentum auctor, magna neque faucibus dui, ut varius diam neque sed diam... <a href="#" class="moretag" title="read more">MORE</a>
                                    </p>

                                </li>

                                <li class="up-event-wrap">

                                    <h1 class="title-median"><a href="#" title="School talents gathering">Campus "Open Doors"</a></h1>

                                    <div class="up-event-meta clearfix">
                                        <div class="up-event-date">Sep 04, 2015</div><div class="up-event-date">Sep 11, 2015</div>
                                    </div>

                                    <p>
                                    Donec fringilla lacinia laoreet. Vestibulum ultrices blandit tempor. Aenean magna elit, varius eget quam a, posuere... <a href="#" class="moretag" title="read more">MORE</a>
                                    </p>

                                </li>

                            </ul>

                        </li><!-- widgets list end -->

                        <li class="widget-container widget_text"><!-- widget -->

                            <a href="#" class="custom-button cb-red" title="How to apply?">
                                <i class="custom-button-icon fa fa-empire"></i>
                                <span class="custom-button-wrap">
                                    <span class="custom-button-title">Donate Now</span>
                                    <span class="custom-button-tagline">Become a corporate sponsor of our schools!</span>
                                </span>
                                <em></em>
                            </a>

                        </li>

                    </ul><!-- widgets end -->

                </div><!-- inner custom column end -->

            </div><!-- sidebar wrapper end -->

        </div><!-- row end -->

    </div>

</div>

{% endblock %}
